.rsvp-text {
  padding: 2%;
  text-align: center;
}
.rsvp-h2 {
  font-size: 42px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.rsvp-info {
  font-size: 26px;
  padding-top: 1%;
}
.rsvp-img {
  width: 100%;
}

/*Responsive mobile - Rsvp*/
@media all and (min-width: 320px) and (max-width: 480px) {
  .rsvp-text {
    padding: 5%;
  }
  .rsvp-h2 {
    font-size: 32px;
  }
  .rsvp-info {
    font-size: 18px;
  }
  .rsvp-info-container {
    padding: 0 5%;
  }
}
